[Unit]
Description="Mi Flora, Vegtrug plant monitor"
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/dev/Vegtrug/floravenv/bin/python MiFloraMain.py
WorkingDirectory=/home/pi/dev/Vegtrug/Vegtrug_IoTCentral
Restart=on-failure

[Install]
WantedBy=multi-user.target